#cont{
    width: 70%;
    display: grid;
    grid-template-columns: repeat(1,1fr);
    grid-template-rows: repeat(auto,200px);
    row-gap: 10px;
    margin: auto;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}
#cont>div{
    /* border: 1px solid black; */
    display: flex;
    width: 100%;
    gap: 20px;
    cursor: pointer;
}
#cont>div>.ifram{
    width: 25%;
    height: 100%;
}
#cont>div>.div2{
    width: 75%;
    height: 100%;
}
#cont>div>.ifram>img{
    width: 100%;
    height: 100%;
}
