
        #container{
            position: relative;
            width: 35%;
    height: 250px;
    /* border: 1px solid black; */
    margin: 159px 420px;
    /* margin-bottom: 15%; */
    margin-left: 35%;
    margin-top: 15%;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;            
  
   }
    #insideContainer{
    margin-left: 2%;
    /* box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px; */
   } 
   #second{
       padding:15% 10px;
       
   }
  #second> p{
       font-family:Montserrat;
       color:grey;
       font-size: 15px;
       font-weight:bolder;
       margin-bottom: 1rem;
   }
   #flag>img{
       width: 2px;

   }
   #btn{
       width: 180px;
       background-color:rgb(95, 90, 90);
       color:white;
       font-family:Montserrat;
       margin: 20px 130px; 
       border-radius: 20px;
       padding: 10px;
       border: 0px;
}
#input{
    /* font-family:Montserrat;
    border: none;
    border-bottom: 2px solid black;
    width: 350px;
    margin-left: px; */
    width: 100%;
    margin: 0 auto;
    border: none;
    border-bottom: 2px solid #494949;
    outline: none;
    text-align: center;
    font-family: 'National2CondensedWeb-Medium';
    font-style: normal;
    font-weight: bold;
    font-size: 13px;
    line-height: 40px;
    text-align: center;
    text-transform: uppercase;
    color: #202124;
}
#inputbox{
    display:flex;
    gap: 10px;
    
}
