
/* new update */
* {
    margin: 0px;
    padding: 0px;
    /* font-family: "Montserrat", sans-serif; */
  }
  #navbar {
    display: flex;
    align-items: center;
    background-color: rgba(23, 33, 50, 255);
    height: 80px;
    position:fixed;
    top: 0;
    width: 100%;
    z-index:1;
   
}

  #cont {
    display: flex;
    width: 600px;
    /* margin-left: 40px; */
    height: 100%;
  }
  #cont {
    text-align: center;
    width: 90%;
    margin-left: 8rem;
  }
  #cont > div:nth-child(1) {
    width: 120px;
  }

  #logo {
    margin-left: 12.5rem;
  }
  .navdiv {
    padding: 20px 16px;
  }
 

  .navdiv p {
    font-size: 15px;
    color: white;
    font-size: 10px;
    
    }
    .navdiv img {
    width:1.3rem;
    
    }
    .navdiv:hover{
         background-color:rgb(105, 117, 143); 
    }
    a{
        text-decoration: none;
    }

  



    .lastdiv {
    padding: 2px 10px;
  }
  .lastdiv p {
    font-size: 15px;
    color: white;
    font-size: 10px;
    
    }
    .lastdiv img {
    width:1.3rem;
    
    }


    .drop_Down_Bar{
         display: none;
         /* margin-bottom: 10px; */
     }
     
     li:hover .drop_Down_Bar{
        display: flex;
         position: absolute;
         background-color: rgba(23, 33, 50, 255);
         width: 15%;
        justify-content: space-around;
        /* box-shadow: rgba(0, 0, 0, 0.16) 0px 10px 36px 0px, rgba(0, 0, 0, 0.06) 0px 0px 0px 1px; */
     }
     li:hover .drop_Down_Bar ul{
         display: block;
         margin: 0px;
         height: 100%;
         width: 100%;
         text-align: left;
         padding: 0px;
     }
    li:hover .drop_Down_Bar ul li{
         width: 100%;
         /* background: transparent; */
         color: white;
         padding: 10px ;
     }
     li:hover .drop_Down_Bar ul li:hover{
         cursor: pointer;
         background-color: rgba(23, 33, 50, 255);

     }

