
    #container{
        position: relative;
        width: 35%;
height: 250px;
/* border: 1px solid black; */
margin: 159px 420px;
margin-left: 35%;
margin-top: 15%;
margin-bottom: 6%;
box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;            

}

#second{
   padding:15% 10px;
}

#btn{
   width: 200px;
   background-color:rgb(95, 90, 90);
   color:white;
   font-family:Montserrat;
   margin-top: 5%;
   margin-left: 20%;
   border-radius: 10px;
   padding: 5px;
}

#input{
/* font-family:Montserrat;
border: none;
border-bottom: 2px solid black;
width: 300px;
margin-left: 5px; */
width: 100%;
    margin: 0 auto;
    border: none;
    border-bottom: 2px solid #494949;
    outline: none;
    text-align: center;
    font-family: 'National2CondensedWeb-Medium';
    font-style: normal;
    font-weight: bold;
    font-size: 15px;
    line-height: 35px;
    text-align: center;
    text-transform: uppercase;
    color: #202124;
    margin-top: 10px;
}
#inputbox{
display:flex;


}
.insideOtpBox{
margin-left: 10%;
}
.insideOtpBox>button{
margin-left: 15%;
}